body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  padding: 0;
  background-color: #222;
}


 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1000;

}

.navbar.white-bg {
  background-color: black;
  color: white;
}

.navbar .logo h4 {
  margin: 0;
  font-size: 24px;
}

.navbar nav {
  display: flex;
  justify-content: center; 
}


.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav li {
  margin-right: 20px;
}

.navbar nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #ff4500;
}

.navbar nav li:last-child {
  margin-right: 0;
  margin-left: auto;
}


.navbar nav .center-links {
  display: flex;
  align-items: center;
}

.navbar nav .center-links div {
  display: flex;
}

.navbar nav .center-links a {
  margin-right: 20px; 
}
.navbar nav a.login-btn {
  background-color: #ff4500;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar nav a.login-btn:hover {
  background-color: #d13400;

}


#progress{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  display: grid;
  place-items: center;
z-index: 2;
}

#progress-value{
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 0px;
}

iframe {
  display: flex;
  margin: 50px auto;
  width: 800px;
  max-width: 100%;
  height: 600px;
}
footer {
  padding: 24px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  max-width: 100%;
}
.footer-logo img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}
footer {
  padding: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  max-width: 100%;
}

.footer-logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

a {
  color: #f39c12;
  text-decoration: none;
}

.card {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: inline-block;
  text-align: center;
  color: #ddd;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h2 {
  margin: 10px 0;
  color: #f39c12;
}

.author {
  font-style: italic;
  color: #888;
}

.year {
  font-weight: bold;
}

.rating {
  color: #f39c12;
  font-weight: bold;
}

.wrapper-movies {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto 100px;
}


.sub-nav {
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.wrapper-filter {

  align-items: center;
  background-color: #333;
  padding: 20px;
  margin: 0;
}

select,
input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

#dropdown2 {
  width: 150px;
  margin-right: 10px; 
}

#searchInput {
  width: 200px;
}

button {
  padding: 12px 16px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e78f11;
}

.drop-p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
